@mixin button {
    -webkit-clip-path: polygon(50% 16%, 100% 100%, 0 0, 100% 0, 0 100%, 50% 16%, 100% 0, 0 33%, 100% 100%, 0 100%, 100% 33%, 0 0);
    clip-path: polygon(50% 16%, 100% 100%, 0 0, 100% 0, 0 100%, 50% 16%, 100% 0, 0 33%, 100% 100%, 0 100%, 100% 33%, 0 0);
}

.home {
    display: grid;
    position: relative;
    background-color: #cfcfcf00;
    grid-template-rows: [header-s] 218 [header-e card-s] minmax(736px, 994px) [card-e];
    justify-items: center;
}

.header {
    align-self: center;
    font-family: 'Montserrat';
    color: white;
    text-align: center;
    &__skew {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 24%, 0 49%);
        clip-path: polygon(0 0, 100% 0, 100% 24%, 0 49%);
        z-index: -10;
        top: 0;
        left: 0;
        background-color: #444444;
        height: 110vh;
        width: 100vw;
        position: absolute;
    }

    h1 {
        font-size: 36px;
        font-weight: 500;
        line-height: 44px;
    }

    p {
        color: rgba(225, 225, 225, 0.5);
        font-size: 15px;
        font-weight: 300;
        line-height: 19px;
        width: 403px;
    }

    &__border {
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 25%, 0 50%);
        clip-path: polygon(0 0, 100% 0%, 100% 25%, 0 50%);
        z-index: -11;
        top: 0;
        left: 0;
        background-color: #00cb79;
        height: 110vh;
        width: 100vw;
        position: absolute;
    }
}

.card {
    height: 736px;
    width: 1240px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
    border-radius: 7px;

    display: grid;
    grid-template-rows: 1fr 50px;
    background-color: white;

    &__inputs {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        justify-content: center;
        align-content: center;
    }
}

.input {
    display: grid;
    // grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: [number-s] 26px [number-e input-s] 1fr [input-e];
    font-family: 'Montserrat';
    text-align: center;

    &__title {
        grid-column: input-s/input-e;
        border-top: 1px solid #b3b3b3;
        color: #b3b3b3;
        font-size: 12px;
        font-weight: 300;
    }
    &__input {
        grid-column: input-s/input-e;

        border: none;
        font-size: 15px;
        text-align: center;
        
        // width: 190px;
        // height: 40px;
    }
    &__number {
        grid-column: number-s/number-e;

        background-color: #00cb79;
        color: white;
        font-size: 20px;
        padding-top: 1px;

        border-radius: 50%;
    }
}